.home-section-1 {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @include media-breakpoint-down(xs) {
        min-height: 100vh;
    }

    &__title {
        font-size: 140px;
        font-weight: $thin;
        color: #fff;
        text-align: center;
        letter-spacing: 35px;
        position: relative;
        font-family: $font-ibm;

        @include media-breakpoint-down(md) {
            font-size: 98px;
            letter-spacing: 20px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 60px;
            letter-spacing: 15px;
        }

        @media (max-width: 375px) {
            font-size: 50px;
            letter-spacing: 13px;
        }
    }

    &__subtitle {
        color: $color-blue;
        font-weight: $light;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 11px;
        line-height: 1.4;
        margin-bottom: 120px;
        display: block;
        margin-top: -50px;

        @include media-breakpoint-down(md) {
            font-size: 18px;
        }

        @include media-breakpoint-down(xs) {
            margin-top: -20px;
            font-size: 14px;
        }

        span {
            font-size: 13px;

            @include media-breakpoint-down(xs) {
                font-size: 12px;
            }
        }
    }
}

.home-section-2 {
    margin: 100px auto 350px;

    @include media-breakpoint-down(sm) {
        margin: 50px auto 250px;
    }

    .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;

        @include media-breakpoint-down(sm) {
            margin-top: 50px;
        }

        span {
            position: relative;
            display: block;
            margin: 0 auto;

            &:after {
                width: 300px;
                height: 300px;
                position: absolute;
                content: '';
                border: 2px solid $color-blue;
                right: -20px;
                top: -20px;
                z-index: -1;
                transition: all .25s;

                @include media-breakpoint-down(xs) {
                    width: 270px;
                    height: 270px;
                    right: -10px;
                    top: -10px;
                }
            }

            &:hover {
                &:after {
                    right: 20px;
                    top: 20px;

                    @include media-breakpoint-down(xs) {
                        right: 30px;
                        top: 30px;
                    }
                }
            }
        }
    }
}

.home-section-3 {

    @include media-breakpoint-down(xs) {
        margin-bottom: 200px;
    }

    &__title {
        text-align: right;

        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }

    &__desc {
        text-align: right;

        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }

    .inner {
        width: 100%;
        margin-top: 40px;

        &__list {
            padding-left: 20px;
            columns: 2;
            -webkit-columns: 2;

            li {
                margin-bottom: 10px;

                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }

                &::marker {
                    color: $color-blue;
                }
            }
        }
    }
}

.home-section-4 {
    margin-bottom: 150px;

    @media (max-width: 1365px) and (min-width: 1200px) {
        max-width: 960px!important;
    }

    @include media-breakpoint-down(lg) {
        max-width: 768px!important;
    }

    @include media-breakpoint-down(md) {
        max-width: 100%!important;
    }
    
    &__title {
        text-align: center;
        margin-bottom: 120px;
    }

    .company-row {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-bottom: 80px;
        }

        &:after {
            @include media-breakpoint-down(md) {
                position: absolute;
                content: '';
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $color-blue;
                width: 50px;
                height: 1px;
            }
        }

        .column {
            position: relative;

            &--company {

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: $color-blue;
                    top: 0;
                    left: -35px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    height: 11px;
                    width: 11px;
                    border-radius: 50%;
                    background-color: $color-blue;
                    top: 24px;
                    left: -40px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }

            &__company-name {
                font-family: $font-arimo;
                font-size: 26px;
                font-weight: $light;
                letter-spacing: 5px;
                color: #fff;
                margin-top: -10px;

                @include media-breakpoint-down(md) {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }

            &__date {
                font-family: $font-sf;
                font-size: 14px;
                font-weight: $light;
                color: $color-blue;
                margin-top: -10px;

                @include media-breakpoint-down(md) {
                    font-size: 12px;
                }
            }

            &__position {
                color: #fff;
                font-size: 26px;
                font-weight: $bold;
                margin-bottom: 15px;
                letter-spacing: 5px;
                font-family: $font-arimo;
            }

            &__desc {
                font-size: 16px;
                padding-bottom: 100px;

                @include media-breakpoint-down(md) {
                    padding-bottom: 40px;
                }
            }
        }
    }
}