@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #fff !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(-0%, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 2;
  transition: all 150ms linear;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 150ms linear;
  height: 55px;
  width: 27px;
  // background-image: url("../images/ico-slick-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
  }
  &.slick-disabled:before {
    opacity: 1;
  }
  &.slick-prev {
    left: 145px;
  }
  &.slick-next {
    right: 145px;
    // background-image: url("../images/ico-slick-next.svg");
  }
}

//
.slick-dots {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translate(-0%, -50%);
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 9;
  li {
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      border: 0;
      background: transparent;
      height: 14px;
      width: 14px;
      outline: none;
      border-radius: 50%;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      cursor: pointer;
      transition: all 150ms linear;
      border: 1px solid #fff;
      &:hover {
        background-color: #fff;
      }
    }
    &.slick-active button {
      background-color: #fff;
    }
  }
}
